<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta 1</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <form action="{{ url_for('consultarCL') }}" method="get">
        <h1>Cantidad de Leche vendida</h1>
        <h2>{{cantidad}}</h2>
        <!-- Puedes agregar más elementos HTML según tus necesidades -->
    </form>
    <a href="{{ url_for('index') }}">
        <button type="button">Volver a la página de inicio</button>
    </a>
</body>
</html>
