<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas</title>
    <link rel="stylesheet" href="static/css/styles.css">  
</head>
<body>
    <h1>Consultas de la base de datos</h1>
    <div class="boton">
        <div>
            <a class="BotonMenu" href="{{url_for('consultarCL')}}" > Cantidad de leche que se vendio</a><br><br>
            <a class="BotonMenu" href="{{url_for('consultarCC')}}" > Clientes que comprar cerveza</a><br><br>
        </div>
    </div>
</body>
</html>